.app.light {
    --primary-bg-color: #474995;
    --secondary-bg-color: #fff;
    --placeholder-bg-color: #ececed;
    --primary-text-color: #000;
    --secondary-text-color: #a4a4a4;
    --header-color: #cacacb;
    --underline-accent-color: #0075ff;
    --nav-color: #6c737f;
    --nav-accent-color: #6366f1;
}
