@import "./reset";
@import "./variable/global";
@import "./theme/light";
@import "./theme/dark";
@import "./fonts";

.app {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    color: var(--primary-colo);
    min-height: 100vh;
}

.app__container {
    display: flex;
}

.app__main {
    flex-grow: 1;
}

.page-wrapper {
    padding: 50px;
}
